@use "../style/partials/mixins" as *;
@use "../style/partials/variables" as *;

// $fa-font-path: "./css";
$fa-font-path: "./webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";
@import "@fortawesome/fontawesome-free/scss/brands.scss";
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/rosella");

@font-face {
  font-family: "MyWebFont";
  src: url("../style/myfont/Rossela-Demo.ttf") format("truetype");
}
// .container{
//   max-width: 1450px;
// }
html{
  scroll-behavior:smooth;
}
body {
  overflow-x: hidden;
}
.uptitle {
  font-family: "MyWebFont", Fallback, sans-serif;
  font-size: 3rem;
  line-height: 3rem;
  color: $cerulean;
  text-align: center;
}
.mycontainer {
  max-width: 1100px;
  margin: 0 auto;
}
.btn {
  padding: 0.2rem 1.2rem;
  color: $white;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  transition: all 0.4s;
  font-weight: 600;

  &:hover {
      color: $primary-color;
      background-color: transparent;
  border: 1px solid $primary-color;

  }
}
