$blue-bg-newsletter: #224184;
$bayofmany: #224184;
$silver: #bcbcbc;
$cod-gray: #1b1b1b;
$tulip-tree: #efab43;
$white: #ffffff;
$boulder: #797979;
$cerulean: #029fcc;
$thunderbird-red: #d71f18;
$malibu: #69a0fd;
$walnut: #784619;
$pickled-bluewood: #374a5e;
$light: #f4f0ef;
$tussock: #cc9f4c;
$tower-grey: #a3b8be;
$brick-color: #a65d50;
$dusty-gray: #9a9898;
$smalt-blue-green: #4f7f85;
$light-vibrant: #b1e4f4;

$bg-color-jumbotron: #fbf9f6;
